# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Archivos de entornos virtuales
venv/
env/
ENV/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
*.swp
*.swo
